.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.label {
  padding-right: 10px;
}

.deleteButton {
  background-color: rgb(223, 75, 75);
  padding: 10px;
  border-radius: 4px;
}

.deleteButton:hover {
  background-color: red;
  font-weight: bold;
}

.guests {
  display: flex;
  font-size: 20px;
  border: 2px solid lightgray;
  border-radius: 4px;
}

.guestAttending {
  margin-left: 20px;
  margin-right: 20px;
}

.item {
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  align-self: center;
}

.button {
  margin: 20px 20px 20px 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightcoral;
  border: 0;
  border-radius: 4px;
}

.button:hover {
  background-color: coral;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
